# IDE
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# to avoid big files
wikipedia_sample*
stop_words.txt
*.index
index.json
